<%= simple_form_for(@tipo_producto) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :no_tipo_producto %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
